<!-- <div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success">
                Product List
            </div>
            <div class="card-body">
                <table class="table table-border">
                    <thead>
                        <tr>
                            <th>S No</th>
                            <th>Product Name</th>
                            <th>Description</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                       @for (item of apiResponse; track $index) {
                        <tr>
                            <td>{{$index+1}}</td>
                            <td>{{item.ProductName}}</td>
                            <td>{{item.Description}}</td>
                            <td>{{item.ActiveSince}}</td>
                        </tr>
                       }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> -->

<div class="col-md-12 p-0 mb-3 mt-1">

    <ngx-datatable
        #customer
        class="material"
        [rows]="apiResponse"
        [columnMode]="ColumnMode.force"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="50"
        [scrollbarV]="true"
        style="height: 495px;"
        [count]="apiResponse.length"
        [offset]="0"
        [limit]="7"
        (page)="onPageChange($event)"
        (sorts)="onSortChange($event)"

    >

        <!-- Product Name -->
        <ngx-datatable-column
    *ngFor="let c of columnDefs"
    [prop]="c.prop"
    [name]="c.header"
    [sortable]="c.sortable"
    [width]="c.width"
    >

    <ng-template ngx-datatable-header-template>
      <span class="tableHeader">{{ c.header }}</span>
    </ng-template>

    <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
      {{ value }}
    </ng-template>

  </ngx-datatable-column>

    </ngx-datatable>

</div>