<form [formGroup]="form" (ngSubmit)="onAdd()">

  <div class="row g-4 mx-4">

    <!-- Product Name -->
    <!-- <div class="form-group col-xl-6 col-sm-6 col-12">
      <label for="ProductName">Product Name <span class="error-color">*</span></label>
      <input
        id="ProductName"
        type="text"
        class="form-control"
        placeholder="Enter Product Name"
        formControlName="ProductName"
      />
      <small
        *ngIf="form.get('ProductName')?.invalid && form.get('ProductName')?.touched"
        class="text-danger"
      >
        Product Name is required.
      </small>
    </div> -->

    <!-- Description -->
    <!-- <div class="form-group col-xl-6 col-sm-6 col-12">
      <label for="Description">Description <span class="error-color">*</span></label>
      <textarea
        id="Description"
        class="form-control"
        placeholder="Enter Description"
        formControlName="Description"
        rows="1"
      ></textarea>
      <small
        *ngIf="form.get('Description')?.invalid && form.get('Description')?.touched"
        class="text-danger"
      >
        Description is required.
      </small>
    </div> -->

    <!-- Product form Dynamicly getting form configration -->
    <ng-container *ngFor="let col of ConfigColumn">
      <div class="form-group col-xl-6 col-sm-6 col-12" *ngIf="col.Column_Status === 'Show'">
        <label [for]="col.Column_Name">
          {{ col.ColumnLabel }}
          <span *ngIf="col.IsRequired === 'YES'" class="error-color">*</span>
        </label>

        <div [ngSwitch]="col.ColumnType">

          <!-- 1️ LIST -->
          <ng-container *ngSwitchCase="'List'">
            <ng-select
              [items]="comboList"
              [placeholder]="col.ToolTipText"
              bindLabel="label" 
              bindValue="value" 
              [formControlName]="col.Column_Name"
              [required]="'YES'===col.IsRequired"
            >
            </ng-select>
          </ng-container>

          <!-- 2️ DATE -->
          <ng-container *ngSwitchCase="'Date'">
            <input
              [id]="col.Column_Name"
              type="date"
              class="form-control"
              [placeholder]="col.ToolTipText"
              [formControlName]="col.Column_Name"
              [required]="col.IsRequired === 'YES'"
            />
          </ng-container>

          <!-- 3️ RADIO -->
          <!-- <ng-container *ngSwitchCase="'Radio'">
            <div *ngFor="let option of col.Options">
              <input
                type="radio"
                [id]="col.Column_Name + '_' + option.value"
                [value]="option.value"
                [formControlName]="col.Column_Name"
                [required]="col.IsRequired === 'YES'"
              />
              <label [for]="col.Column_Name + '_' + option.value">{{ option.label }}</label>
            </div>
          </ng-container> -->

          <!-- 4️ CHECKBOX -->
          <!-- <ng-container *ngSwitchCase="'Checkbox'">
            <div *ngFor="let option of col.Options">
              <input
                type="checkbox"
                [id]="col.Column_Name + '_' + option.value"
                [value]="option.value"
                (change)="onCheckboxChange($event, col.Column_Name)"
              />
              <label [for]="col.Column_Name + '_' + option.value">{{ option.label }}</label>
            </div>
          </ng-container> -->

          <!-- 5️ DEFAULT (Input) -->
          <ng-container *ngSwitchDefault>
            <input
              [id]="col.Column_Name"
              type="text"
              class="form-control"
              [placeholder]="col.ToolTipText"
              [formControlName]="col.Column_Name"
              [required]="col.IsRequired === 'YES'"
            />
          </ng-container>

        </div>

        <!--<div *ngIf="col.ColumnType === 'List'; else normalInputField">

          
          <ng-select
            [items]="comboList"
            [formControlName]="col.Column_Name"
            [placeholder]="col.ToolTipText">
          </ng-select>
          
        </div>

        
        <ng-template #normalInputField>
          <input
            [id]="col.Column_Name"
            type="text"
            class="form-control"
            [placeholder]="col.ToolTipText"
            [formControlName]="col.Column_Name"
            [required]="col.IsRequired === 'YES'"
          />
        </ng-template>-->

        <!-- Error Validation  -->
        <div *ngIf="form.get(col.Column_Name)?.invalid && (form.get(col.Column_Name)?.touched || form.get(col.Column_Name)?.dirty)">
          <small *ngIf="form.get(col.Column_Name)?.errors?.['required']" class="text-danger">
            {{ col.ColumnLabel }} is required.
          </small>
          <small *ngIf="form.get(col.Column_Name)?.errors?.['minlength']" class="text-danger">
            Minimum {{ col.Min_Length }} characters required.
          </small>
          <small *ngIf="form.get(col.Column_Name)?.errors?.['maxlength']" class="text-danger">
            Maximum {{ col.Max_Length }} characters allowed.
          </small>
        </div>

      </div>
    </ng-container>


    <!-- Submit Button -->
    <div class="box-footer mt-4 d-flex justify-content-center">
      <button type="submit" mat-raised-button color="accent">
        <mat-icon *ngIf="!loadingIndicator()">upload</mat-icon>
        <span *ngIf="!loadingIndicator()">{{ 'Submit' }}</span>
      </button>
    </div>

  </div>
  
</form>

