<div class="mx-3 my-1 border-0 p-0">

    <app-content-header title="Party List" [subRoute]="title"></app-content-header>

    <div class="d-flex align-items-center justify-content-end">
        <button class="ms-1" mat-raised-button color="accent" (click)="openUserFormModal(partyFormTemplate)">
            <mat-icon aria-hidden="false" aria-label="icon" fontIcon="add">
            </mat-icon>
            Add PARTY
        </button>
    </div>

    <div class="col-md-12 p-0 mb-3 mt-1" style="width: auto; display: flex; align-items: center; justify-content: center;">
        <ngx-datatable
            class="material"
            [rows]="partys()"
            [columnMode]="ColumnMode.force"
            [headerHeight]="50"
            [footerHeight]="50"
            rowHeight="auto"
            [count]="partys().length"
            [offset]="0"
            [limit]="6"
            (page)="onPageChange($event)"
            (sort)="onSortChange($event)"
        >

            <!-- Customer Name -->
            <ngx-datatable-column prop="Customer" sortable="true" [flexGrow]="1" [width]="180">
                <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
                    <span class="tableHeader">Customer</span>
                </ng-template>

                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{ value }}
                </ng-template>
            </ngx-datatable-column>

            <!-- ContactPerson Name -->
            <ngx-datatable-column prop="ContactPerson" sortable="true" [flexGrow]="1" [width]="170">
                <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
                    <span class="tableHeader">Contact Person</span>
                </ng-template>

                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{ value }}
                </ng-template>
            </ngx-datatable-column>

            <!-- Email Name -->
            <ngx-datatable-column prop="Email" sortable="true" [flexGrow]="2" [width]="300">
                <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
                    <span class="tableHeader">Email</span>
                </ng-template>

                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{ value }}
                </ng-template>
            </ngx-datatable-column>

            <!-- Mobile Name -->
            <ngx-datatable-column prop="Mobile" sortable="true" [flexGrow]="1">
                <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
                    <span class="tableHeader">Mobile</span>
                </ng-template>

                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{ value }}
                </ng-template>
            </ngx-datatable-column>

            <!-- Country Name -->
            <ngx-datatable-column prop="Country" sortable="true" [flexGrow]="1">
                <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
                    <span class="tableHeader">Country</span>
                </ng-template>

                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{ value }}
                </ng-template>
            </ngx-datatable-column>

            <!-- State Name -->
            <ngx-datatable-column prop="State" sortable="true" [flexGrow]="1">
                <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
                    <span class="tableHeader">State</span>
                </ng-template>

                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{ value }}
                </ng-template>
            </ngx-datatable-column>

            <!-- City Name -->
            <ngx-datatable-column prop="City" sortable="true" [flexGrow]="1">
                <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
                    <span class="tableHeader">City</span>
                </ng-template>

                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{ value }}
                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>
    </div>

    <!-- Model pop up -->
     <ng-template #partyFormTemplate>
        <div class="row">
            <div class="col-12">
                <div class="modal-header d-flex align-items-center justify-content-between">
                    <h4 class="modal-title mb-0">Party</h4>
                    <button type="button" class="btn-close close" aria-label="Close" (click)="closeUserModal()">
                        <span aria-hidden="true" class="visually-hidden">&times;</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-12">
            <app-tabs [tabsArray]="tabs" (onTabChange)="tabChange($event)"></app-tabs>
        </div>
        <div class="modal-body">
            <div class="row">
                <div *ngIf="activatedTabIndex === 0">
                    <app-party-master-model></app-party-master-model>
                </div>

                <div *ngIf="activatedTabIndex === 1">
                    <app-part-master-address-model></app-part-master-address-model>
                </div>
            </div>        
        </div>
    </ng-template>

</div>