<div class="d-flex align-items justify-content-end">
    
</div>

<div class="col-md-12 p-0 mb-3 mt-1">

    <ngx-datatable
        #customer
        class="material"
        [rows]="customers()"
        [columnMode]="ColumnMode.force"
        [headerHeight]="50"
        [footerHeight]="50"
        rowHeight="auto"
        [count]="customers().length"
        [offset]="0"
        [limit]="7"
        (page)="onPageChange($event)"
        (sorts)="onSortChange($event)"

    >

        <!-- Product Name -->
        <ngx-datatable-column
    *ngFor="let c of columnDefs"
    [prop]="c.prop"
    [name]="c.header"
    [sortable]="c.sortable"
    [width]="c.width"
    >

    <ng-template ngx-datatable-header-template>
      <span class="tableHeader">{{ c.header }}</span>
    </ng-template>

    <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
      {{ value }}
    </ng-template>

  </ngx-datatable-column>

    </ngx-datatable>

</div>
