@let form = formData()!;

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row g-4 mx-4">
        <!-- input filde for name -->
        <div class="form-group col-xl-6 col-sm-6 col-12">
            <label>Name <span class="error-color">*</span></label>
            <input 
                type="text" 
                class="form-control" 
                placeholder="Enter Name" 
                formControlName="name"
            >
        </div>

        <!-- input filde for email -->
        <div class="form-group col-xl-6 col-sm-6 col-12">
            <label>Email <span class="error-color">*</span></label>
            <input 
                type="email" 
                class="form-control" 
                placeholder="Enter Email" 
                formControlName="email"
            >
        </div>

        <!-- input filde for phone -->
        <div class="form-group col-xl-6 col-sm-6 col-12">
            <label>Phone <span class="error-color">*</span></label>
            <input 
                type="tel" 
                class="form-control" 
                placeholder="Enter PHONE" 
                formControlName="phone"
            >
        </div>

        <!-- input filde for Dob -->
        <div class="form-group col-xl-6 col-sm-6 col-12">
            <label>DOB <span class="error-color">*</span></label>
            <input 
                type="text" 
                class="form-control" 
                placeholder="Enter DOB" 
                formControlName="dob"
                bsDatepicker
                [bsConfig]="datePickerConfig"
            >
        </div>
        <!-- { dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-dark-blue' } -->

        <!-- input filde for gender -->
        <div class="form-group col-xl-6 col-sm-6 col-12">
            <label>Gender <span class="error-color">*</span></label>
            <ngx-select [items]="['male', 'female', 'others']" placeholder="Select Gender" formControlName="gender"></ngx-select>
        </div>

        <!-- input filde for address -->
        <div class="form-group col-xl-6 col-sm-6 col-12">
            <label>ADDRESS</label>
            <textarea
                class="form-control" 
                placeholder="Enter Address" 
                formControlName="address"
                rows="1"
            >
                
            </textarea>
        </div>

        <div class="box-footer mt-4 d-flex justify-content-center">
            <button mat-raised-button color="accent" type="submit">
                <mat-icon aria-hidden="false" aria-label="icon" fontIcon="upload"></mat-icon>
                SUBMIT
            </button>
        </div>

    </div>
</form>